/* 투두 버튼 */
.add-item-row > div{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.add-item-row input {flex-grow: 3;}
.add-item-row button {flex-grow: 1;}
.button-wrap {
  display: flex;
  align-items: center;
  gap: 5px;
}
.button-add {
  height: 46px;
  background-color: gray;
}

.button-delete, .button-toggle {
  background-color: white;
  border: 2px solid gray;
  color: gray;
}