/* 투두 버튼 */
.add-item-row {
  align-items: center;
  margin-bottom: 30px;
}
.button-wrap {
  display: flex;
  align-items: center;
  gap: 5px;
}
.button-add {
  width: 100%;
  background-color: gray;
}

.button-add:hover {
  background-color: white;
  color: gray;
  border: 2px solid gray;
}

.button-delete, .button-toggle {
  background-color: white;
  border: 2px solid gray;
  color: gray;
}

.button-delete:hover {
  background-color: gray;
  color: white;
}
