/* 투두 버튼 */
.add-item-row {
  align-items: center;
  margin-top: 50px !important;
  margin-bottom: 30px;
}

.button-add {
  width: 100%;
  background-color: gray;
}

.button-add:hover {
  background-color: white;
  color: gray;
  border: 2px solid gray;
}

.button-delete {
  background-color: white;
  border: 2px solid gray;
  color: gray;
  margin: 10px;
}

.button-delete:hover {
  background-color: gray;
  color: white;
}
