body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f7f0e9;
  color: #4b3832;
}

h1, h2 {
  color: #8d5524;
  font-weight: bold;
}

.title {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.user-name span {
  font-weight: bold;
  color: #8d5524;
}

.display-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(247, 240, 233, 0.95);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
}

.login-box, .register-box {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  width: 100%;
  border: 1px solid #e2b091;
}

.login-box h1, .register-box h1 {
  color: #8d5524;
  font-size: 1.8em;
  margin-bottom: 25px;
  text-align: center;
}

.error-box {
  color: #d9534f;
  font-size: 0.9em;
  margin-bottom: 15px;
}

input[type="email"],
input[type="password"],
input[type="string"] {
  padding: 12px;
  border: 1px solid #d7ccc8;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
  margin-bottom: 15px;
  background-color: #f7f3ef;
}

.input-box:focus, input:focus {
  border-color: #e2b091;
  outline: none;
  box-shadow: 0px 0px 5px rgba(226, 176, 145, 0.5);
}

/* 투두 리스트 */
.todo-item {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  flex-wrap: wrap;
}

.todo-content {
  flex: 1;
  padding: 10px;
  max-width: 60%;
  overflow-wrap: break-word;
  color: #4b3832;
  min-width: 200px;
}

.todo-content input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: #f7f3ef;
  border: 1px solid #d7ccc8;
  border-radius: 5px;
  font-size: 1em;
}

.item-complete {
  background-color: #d1c3b4;
}

.item-complete .todo-content {
  text-decoration: line-through;
  color: #8c8c8c;
}

@media (max-width: 768px) {
  .add-item-row > div {
    flex-direction: column;
    align-items: stretch;
  }
  .button-wrap {
    gap: 10px;
  }
  .todo-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .todo-content, .button-wrap, .add-item-row button {
    width: 100%;
  }
}
